 *{
    margin: 0px;
    padding: 0px;
 }

 .menu{
    background-color: rgb(49, 48, 48);
    padding: 12px;   
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 .logo-photo{
      width: 120px;
 }
 .nmenu{
    display: flex;
    
 }
 .i{
    margin-right: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;

 }
 .i:hover{
    color: rgb(4, 144, 199);
 } 
 .p1{
    width: 300px;
 }
 .banner{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;

    color: rgb(250, 250, 250);
    background-image: url("./images/background.png"), 
    linear-gradient(45deg, rgb(10, 10, 10), rgb(53, 52, 52));
 }
 .title{
    font-size: 55px;
    font-weight: bold;
 }
 .des{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
 }
 .btn{
    padding: 10px 20px;
    background-color: rgb(197, 36, 36);
    color: white;
    border: none;
    cursor: pointer;   
 }
 .btn:hover{
    color: rgb(10, 12, 12);
 }
 .about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55vh;
 }
 .h1{
    font-size: 60px;
    text-align: center;
    align-items: center;
    padding: 20px;
    
    
 }
 .box{
    width: 230px;
    height: 300px;
    box-shadow: 4px 4px 15px;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
    border-radius: 10px;
    background-image: url("./images/background.png"), 
    linear-gradient(45deg, rgb(10, 10, 10), rgb(53, 52, 52));
 }
 .icon{
    width: 70px;
 }
 .btn2{
    background-color: gray;
    margin-top: 10px;

 }
 .bt{
    padding: 10px;
 }
 .btn:hover{
    cursor: pointer;
    color: rgb(3, 3, 24);
 }
 .bd{
    padding: 5px;
 }
 .service{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    

 }
 .a{
    padding: 50px;
    height: 75vh;
    align-items: center;
    color: rgb(250, 250, 250);
    background-image: url("./images/background.png"), 
    linear-gradient(45deg, rgb(10, 10, 10), rgb(53, 52, 52));
 }

 .last
 {
    
    padding: 80px;   
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(54, 54, 54));
    
    
 }
 .logo-photo1{
    width: 250px;
 }
 .co{
    text-align: center;
    background-color: rgb(17, 17, 17);
    color: aliceblue;
    padding: 15px;
    font-size: 13px;
 }